{:format "%{attribute} %{message}",
 :messages
 {:taken "ўжо занята",
  :too_long
  {:one "занадта доўгі (максімум 1 сімвал)",
   :other "занадта доўгі (максімум %{count} сімвалаў)"},
  :equal_to "павінна быць роўным %{count}",
  :even "павінна быць цотным",
  :greater_than "павінна быць болей за %{count}",
  :present "павінна быць пустым",
  :less_than_or_equal_to "павінна быць меней ці роўным %{count}",
  :confirmation "не супадае з %{attribute}",
  :accepted "трэба прыняць",
  :too_short
  {:one "занадта кароткі (мінімум 1 сімвал)",
   :other "занадта кароткі (мінімум %{count} сімвалаў)"},
  :record_invalid "Памылкі валідацыі: %{errors}",
  :invalid "няправільнае значэнне",
  :wrong_length
  {:one "няправільная даўжыня (павінен быць 1 сімвал)",
   :other "няправільная даўжыня (павінны быць %{count} сімвалаў)"},
  :not_an_integer "павінна быць цэлай лічбай",
  :empty "не можа быць пустым",
  :odd "павінна быць няцотным",
  :blank "не можа быць пустым",
  :exclusion "мае зарэзерваванае значэнне",
  :less_than "павінна быць меней за %{count}",
  :other_than "павінна адрознівацца ад %{count}",
  :not_a_number "гэта не лічба",
  :greater_than_or_equal_to "павінна быць болей ці роўным %{count}",
  :inclusion "значэнне не уключана ў спіс",
  :restrict_dependent_destroy
  {:one "Нельга выдаліць запіс, таму што існуе залежнасць %{record}",
   :many
   "Нельга выдаліць запіс, таму што існуюць залежнасці %{record}"}},
 :template
 {:body "Узніклі праблемы з наступнымі палямі:",
  :header
  {:one "не атрымалася захаваць %{model} з-за 1 памылкі",
   :other "не атрымалася захаваць %{model} з-за %{count} памылак"}}}