{:abbr_day_names ["J2" "J3" "J4" "J5" "Al" "Ij" "J1"],
 :abbr_month_names
 [nil
  "Jan"
  "Feb"
  "Mac"
  "Apr"
  "Mei"
  "Jun"
  "Jul"
  "Ago"
  "Sep"
  "Okt"
  "Nov"
  "Des"],
 :day_names
 ["Jumapili"
  "Jumatatu"
  "Jumanne"
  "Jumatano"
  "Alhamisi"
  "Ijumaa"
  "Jumamosi"],
 :formats {:default "%d-%m-%Y", :long "%e %B, %Y", :short "%e %b"},
 :month_names
 [nil
  "Mwezi wa kwanza"
  "Mwezi wa pili"
  "Mwezi wa tatu"
  "Mwezi wa nne"
  "Mwezi wa tano"
  "Mwezi wa sita"
  "Mwezi wa saba"
  "Mwezi wa nane"
  "Mwezi wa tisa"
  "Mwezi wa kumi"
  "Mwezi wa kumi na moja"
  "Mwezi wa kumi na mbili"],
 :order [":day" ":month" ":year"]}