{:distance_in_words
 {:x_months {:one "एक महीना", :other "%{count} महीना"},
  :less_than_x_minutes
  {:one "एक मिनट से कम", :other "%{count} मिनट से कम"},
  :almost_x_years {:one "लगभग एक साल", :other "लगभग %{count} साल"},
  :over_x_years {:one "एक साल के ऊपर", :other "%{count} साल से अधिक"},
  :x_seconds {:one "एक सेकेंड", :other "%{count} सेकेंड"},
  :x_minutes {:one "एक मिनट", :other "%{count} मिनट"},
  :x_days {:one "एक दिन", :other "%{count} दिन"},
  :less_than_x_seconds
  {:one "एक सेकेंड से कम", :other "%{count}  सेकेंड से कम"},
  :half_a_minute "एक आधा मिनट",
  :about_x_months {:one "लगभग 1 महीना", :other "लगभग %{count} महीना"},
  :about_x_hours {:one "लगभग एक घंटा", :other "लगभग %{count} घंटा"},
  :about_x_years {:one "लगभग 1 साल", :other "लगभग %{count} साल"}},
 :prompts
 {:day "दिन",
  :hour "घंटा",
  :minute "मिनट",
  :month "माह",
  :second "सेकेंड",
  :year "वर्ष"}}