{:format "%{attribute} %{message}",
 :messages
 {:taken "پہلے سے ہی استعمال میں ہے",
  :too_long
  {:one "بہت طویل ہے (زیادہ سے زیادہ ایک حرف)",
   :other "iبہت طویل ہے (زیادہ سے زیادہ %{count} حروف)"},
  :equal_to "%{count} کے برابر ہونا چاہیے",
  :even "جفت ہونا ضروری ہے",
  :greater_than "%{count} سے زیادہ ہونا چاہیے",
  :present "خالی ہونا ضروری ہے",
  :less_than_or_equal_to "%{count} سے کم یا اس کے برابر ہونا چاہیے",
  :confirmation "%{attribute} میل نہیں رکھتا",
  :accepted "قبول ہونا ضروری ہے",
  :too_short
  {:one "بہت چھوٹا ہے (کم از کم اکی حرف)",
   :other "بہت چھوٹا ہے (کم از کم %{count} حروف)"},
  :record_invalid "توثیق میں نا کا می: %{errors}",
  :invalid "باطل ہے",
  :wrong_length
  {:one "غلط طوالت (ایک حرف ہونا چاہئے)",
   :other "غلط طوالت (%{count} حروف ہونے چاہئے)"},
  :not_an_integer "ایک عدد صحیح ہونا ضروری ہے",
  :empty "لازم ہے",
  :odd "طاق ہونا ضروری ہے",
  :blank "لازم ہے",
  :exclusion "مخصوص ہے",
  :less_than "%{count} سے کم ہونا چاہیے",
  :other_than "%{count} کے علاوہ کسی اور کا ہونا لازمی ہے",
  :not_a_number "ایک نمبر نہیں ہے",
  :greater_than_or_equal_to "%{count} سے بڑا یا برابر ہونا چاہیے",
  :inclusion "فہرست میں شامل نہیں ہے",
  :restrict_dependent_destroy
  {:one
   "ایک منحصر %{record} کی موجودگی کے باعث اس ریکارڈ کو حذف نہیں کیا جا سکتا",
   :many
   "چند منحصر %{record}  کی موجودگی کے باعث اس ریکارڈ کو حذف نہیں کیا جا سکتا"}},
 :template
 {:body "مندرجہ ذیل متن کے ساتھ مسائل ہیں:",
  :header
  {:one "ایک خرابی کے باعث یہ %{model} محفوظ نہیں کیا جا سکا",
   :other
   "%{count} خرابیوں کے باعث یہ %{model} محفوظ نہیں کیا جا سکا"}}}