{:abbr_day_names ["Ned" "Pon" "Uto" "Sri" "Čet" "Pet" "Sub"],
 :abbr_month_names
 [nil
  "Sij"
  "Veǉ"
  "Ožu"
  "Tra"
  "Svi"
  "Lip"
  "Srp"
  "Kol"
  "Ruj"
  "Lis"
  "Stu"
  "Pro"],
 :day_names
 ["Nedjelja"
  "Ponedjeljak"
  "Utorak"
  "Srijeda"
  "Četvrtak"
  "Petak"
  "Subota"],
 :formats {:default "%d.%m.%Y.", :long "%e. %B %Y.", :short "%e.%-m."},
 :month_names
 [nil
  "Siječanj"
  "Veljača"
  "Ožujak"
  "Travanj"
  "Svibanj"
  "Lipanj"
  "Srpanj"
  "Kolovoz"
  "Rujan"
  "Listopad"
  "Studeni"
  "Prosinac"],
 :order [":day" ":month" ":year"]}