{:distance_in_words
 {:x_months
  {:few "%{count} mesece",
   :one "1 mesec",
   :other "%{count} mesecev",
   :two "2 meseca"},
  :less_than_x_minutes
  {:few "manj kot %{count} minute",
   :one "manj kot ena minuta",
   :other "manj kot %{count} minut",
   :two "manj kot dve minuti"},
  :almost_x_years
  {:few "skoraj %{count} leta",
   :one "skoraj 1 leto",
   :other "skoraj %{count} let",
   :two "skoraj 2 leti"},
  :over_x_years
  {:few "več kot %{count} leta",
   :one "več kot 1 leto",
   :other "več kot %{count} let",
   :two "več kot 2 leti"},
  :x_seconds
  {:few "%{count} sekunde",
   :one "1 sekunda",
   :other "%{count} sekund",
   :two "2 sekundi"},
  :x_minutes
  {:few "%{count} minute",
   :one "1 minuta",
   :other "%{count} minut",
   :two "2 minuti"},
  :x_days
  {:few "%{count} dnevi",
   :one "1 dan",
   :other "%{count} dni",
   :two "2 dneva"},
  :less_than_x_seconds
  {:few "manj kot %{count} sekunde",
   :one "manj kot 1 sekunda",
   :other "manj kot %{count} sekund",
   :two "manj kot 2 sekundi"},
  :half_a_minute "pol minute",
  :about_x_months
  {:few "okoli %{count} mesece",
   :one "okoli 1 mesec",
   :other "okoli %{count} mesecev",
   :two "okoli 2 meseca"},
  :about_x_hours
  {:few "okoli %{count} ure",
   :one "okoli 1 ura",
   :other "okoli %{count} ur",
   :two "okoli 2 uri"},
  :about_x_years
  {:few "okoli %{count} leta",
   :one "okoli 1 leto",
   :other "okoli %{count} let",
   :two "okoli 2 leti"}},
 :prompts
 {:day "Dan",
  :hour "Ura",
  :minute "Minute",
  :month "Mesec",
  :second "Sekunde",
  :year "Leto"}}