{:format "%{attribute} %{message}",
 :messages
 {:taken "অাগেই নিয়ে নেওয়া হয়েছে",
  :too_long "খুব বড়ো (সর্বোচ্চ %{count} অক্ষর)",
  :equal_to "%{count} এর সঙ্গে সমান হতে হবে",
  :even "জোড় হতে হবে",
  :greater_than "%{count} থেকে বড়ো হতে হবে",
  :less_than_or_equal_to "%{count} থেকে ছোটো অথবা তার সমান হতে হবে",
  :confirmation "অনুমোদনের সঙ্গে মিলছে না",
  :accepted "গ্রাহ্য করতে হবে",
  :too_short "খুব ছোটো (সর্বনিম্ন %{count} অক্ষর)",
  :invalid "সঠিক নয়",
  :wrong_length "দৈর্ঘ্যটি সঠিক নয় (%{count} অক্ষর হতে হবে)",
  :empty "খালি রাখা যাবে না",
  :odd "বেজোড় হতে হবে",
  :blank "ফাঁকা রাখা যাবে না",
  :exclusion "রিসার্ভ করা অাছে",
  :less_than "%{count} থেকে ছোটো হতে হবে",
  :not_a_number "নম্বর নয়",
  :greater_than_or_equal_to "%{count} থেকে বড়ো অথবা তার সমান হতে হবে",
  :inclusion "লিস্টে অন্তর্ভুক্ত নয়"},
 :template
 {:body "এই ফিল্ডগুলোতে কিছু সমস্যা দেখা দিয়েছে:",
  :header
  {:one "১ টি ত্রুটির কারনে %{model} সংরক্ষন করা সম্ভব হয়নি",
   :other
   "%{count} টি ত্রুটির কারনে %{model} সংরক্ষন করা সম্ভব হয়নি"}}}