{:format "%{attribute} %{message}",
 :messages
 {:taken "ஏற்கனவே எடுத்துகொள்ள பட்டது",
  :too_long
  {:one "மிக நீளமாக உள்ளது (அதிகபட்சமாக ஒரு எழுத்து)",
   :other "மிக நீளமாக உள்ளது (அதிகபட்சமாக %{count} எழுத்துக்கள்)"},
  :equal_to "%{count} சமமாக இருக்க வேண்டும்",
  :even "இரட்டைப்படை இருக்க வேண்டும்",
  :greater_than "%{count} ஐ விட அதிகமாக இருக்க வேண்டும்",
  :present "காலியாக இருக்க வேண்டும்",
  :less_than_or_equal_to
  "%{count} குறைவாக அல்லது சமமாக இருக்க வேண்டும்",
  :confirmation "%{attribute}  பொருந்தவில்லை",
  :accepted "ஏற்கப்பட வேண்டும்",
  :too_short
  {:one "மிகவும் குறுகியதாக உள்ளது (குறைந்தபட்சம் ஒரு எழுத்து)",
   :other
   "மிகவும் குறுகியதாக உள்ளது (குறைந்தபட்சம் %{count} எழுத்துக்கள்)"},
  :record_invalid "சரிபார்த்தல் தோல்வியுற்றது: %{errors}",
  :invalid "செல்லுபடியானதல்ல",
  :wrong_length
  {:one "தவறான நீளம் (1 எழுத்து இருக்கவேண்டும்)",
   :other "தவறான நீளம் (%{count} எழுத்துக்கள் இருக்கவேண்டும்)"},
  :not_an_integer "ஒரு முழு எண்ணாக இருக்க வேண்டும்",
  :empty "வெறுமையாக இருக்க முடியாது",
  :odd "ஒற்றைப்படை இருக்க வேண்டும்",
  :blank "காலியாக இருக்க முடியாது",
  :exclusion "ஒதுக்கப்பட்டுள்ளது",
  :less_than "%{count} ஐ விட குறைவாக இருக்க வேண்டும்",
  :other_than "%{count} தவிர வேறு இருக்க வேண்டும்",
  :not_a_number "ஒரு எண் அல்ல",
  :greater_than_or_equal_to
  "%{count}  அதிகமாக அல்லது சமமாக இருக்க வேண்டும்",
  :inclusion "பட்டியலில் சேர்க்கப்படவில்லை",
  :restrict_dependent_destroy
  {:one "பதிவை நீக்க முடியாது, ஏனெனில் ஒரு சார்பு %{record} உள்ளது",
   :many "பதிவை நீக்க முடியாது, ஏனெனில் சார்புகள் %{record} உள்ளது"}},
 :template
 {:body "பின்வரும் புலங்களில் பிரச்சினைகள் உள்ளது:",
  :header
  {:one "1 பிழை இந்த %{model} ஐ சேமிக்க தடையாக உள்ளது",
   :other "%{count} பிழைகள் இந்த %{model} ஐ சேமிக்க தடையாக உள்ளது"}}}