{:format "%{attribute} %{message}",
 :messages
 {:taken "вече съществува",
  :too_long
  "е прекаленo дълго (не може да е повече от %{count} символа)",
  :equal_to "трябва да има стойност, равна на %{count}",
  :even "трябва да е нечетно",
  :greater_than "трябва да има стойност, по-голяма от %{count}",
  :less_than_or_equal_to
  "трябва да има стойност, по-голяма или равна на %{count}",
  :confirmation "не съответства на потвърждението",
  :accepted "трябва да се потвърди",
  :too_short
  "е прекалено късо (не може да бъде по-малко от %{count} символа)",
  :record_invalid "имаше грешки: %{errors}",
  :invalid "съдържа невярна стойност",
  :wrong_length
  "е с грешна дължина (трябва да е с дължина, равна на %{count} символа)",
  :not_an_integer "не е цяло число",
  :empty "не може да е празно",
  :odd "трябва да е четно",
  :blank "не може да е без стойност",
  :exclusion "съдържа предварително зададена стойност",
  :less_than "трябва да има стойност, по-малка от %{count}",
  :not_a_number "не е число",
  :greater_than_or_equal_to
  "трябва да има стойност, по-голяма или равна на %{count}",
  :inclusion "съдържа непредвидена стойност"},
 :template
 {:body "Възникнаха проблеми със следните полета:",
  :header
  {:one "%{model}: записът е неуспешен заради 1 грешка",
   :other "%{model}: записът е неуспешен заради %{count} грешки"}}}