{:abbr_day_names
 ["الأحد" "الإثنين" "الثّلاثاء" "الأربعاء" "الخميس" "الجمعة" "السّبت"],
 :abbr_month_names
 ["يناير/كانون الثّاني"
  "فبراير/شباط"
  "مارس/آذَار"
  "إبريل/نَيْسان"
  "مايو/أيار"
  "يونيو/حَزيران"
  "يوليو/تمُّوز"
  "أغسطس/آب"
  "سبتمبر/أيلول"
  "أكتوبر/تشرين الأوّل"
  "نوفمبر/تشرين الثّاني"
  "ديسمبر/كانون الأَوّل"],
 :day_names
 ["الأحد" "الإثنين" "الثّلاثاء" "الأربعاء" "الخميس" "الجمعة" "السّبت"],
 :formats {:default "%Y-%m-%d", :long "%B %e, %Y", :short "%e %b"},
 :month_names
 ["يناير/كانون الثّاني"
  "فبراير/شباط"
  "مارس/آذَار"
  "إبريل/نَيْسان"
  "مايو/أيار"
  "يونيو/حَزيران"
  "يوليو/تمُّوز"
  "أغسطس/آب"
  "سبتمبر/أيلول"
  "أكتوبر/تشرين الأوّل"
  "نوفمبر/تشرين الثّاني"
  "ديسمبر/كانون الأَوّل"],
 :order [":day" ":month" ":year"]}