{:format "%{attribute} %{message}",
 :messages
 {:taken "محجوز مُسبقًا",
  :too_long
  {:zero "أطول من اللّازم (الحد الأقصى هو ولا حرف)",
   :one "أطول من اللّازم (الحد الأقصى هو حرف واحد)",
   :two "أطول من اللّازم (الحد الأقصى هو حرفان)",
   :few "أطول من اللّازم (الحد الأقصى هو %{count} حروف)",
   :many "أطول من اللّازم (الحد الأقصى هو %{count} حرف)",
   :other "أطول من اللّازم (الحد الأقصى هو %{count} حرف)"},
  :equal_to "يجب أن يساوي %{count}",
  :even "يجب أن يكون عددًا زوجيًّا",
  :greater_than "يجب أن يكون أكبر من %{count}",
  :present "يجب ترك الحقل فارغاً",
  :less_than_or_equal_to "يجب أن يكون أصغر من أو يساوي %{count}",
  :confirmation "لا يتوافق مع %{attribute}",
  :accepted "يجب أن تقبل",
  :too_short
  {:zero "أقصر من اللّازم (الحد الأدنى هو ولا حرف)",
   :one "أقصر من اللّازم (الحد الأدنى هو حرف واحد)",
   :two "أقصر من اللّازم (الحد الأدنى هو حرفان)",
   :few "أقصر من اللّازم (الحد الأدنى هو %{count} حروف)",
   :many "أقصر من اللّازم (الحد الأدنى هو %{count} حرف)",
   :other "أقصر من اللّازم (الحد الأدنى هو %{count} حرف)"},
  :record_invalid "فشل التحقّق من: %{errors}",
  :invalid "غير مقبول",
  :wrong_length
  {:zero "الطول غير مطابق للحد المطلوب (يجب أن يكون ولا حرف)",
   :one "الطول غير مطابق للحد المطلوب (يجب أن يكون حرف واحد)",
   :two "الطول غير مطابق للحد المطلوب (يجب أن يكون حرفان)",
   :few "الطول غير مطابق للحد المطلوب (يجب أن يكون %{count} أحرف)",
   :many "الطول غير مطابق للحد المطلوب (يجب أن يكون %{count} حرف)",
   :other "الطول غير مطابق للحد المطلوب (يجب أن يكون %{count} حرف)"},
  :not_an_integer "يجب أن يكون عدداً صحيحاً",
  :empty "فارغ، يرجى ملء الحقل",
  :odd "يجب أن يكون عددًا فرديًّا",
  :blank "فارغ، يرجى ملء الحقل",
  :exclusion "محجوز",
  :less_than "يجب أن يكون أصغر من %{count}",
  :other_than
  {:zero "الطول يجب ألاّ يكون صفر أحرف",
   :one "الطول يجب ألاّ يكون حرفاً وحداً",
   :two "الطول يجب ألاّ يكون حرفان",
   :few "الطول يجب ألاّ يكون %{count} أحرف",
   :many "الطول يجب ألاّ يكون %{count} حرفاً",
   :other "الطول يجب ألاّ يكون %{count} حرفاً"},
  :not_a_number "ليس رقمًا",
  :greater_than_or_equal_to "يجب أن يكون أكبر من أو يساوي %{count}",
  :inclusion "غير مُدرج في القائمة",
  :restrict_dependent_destroy
  {:one "لا يمكن حذف السجل لوجود سجل يعتمد عليه %{record}",
   :many "لا يمكن حذف السجل لوجود سجلات تعتمد عليه %{record}"}},
 :template
 {:body "يُرجى التحقّق من الحقول التّالية:",
  :header
  {:zero "ليس بالامكان حفظ %{model}: لايوجد أخطاء.",
   :one "ليس بالامكان حفظ %{model}: خطأ واحد.",
   :two "ليس بالامكان حفظ %{model}:  خطئان.",
   :few "ليس بالامكان حفظ %{model}: %{count} أخطاء.",
   :many "ليس بالامكان حفظ %{model}: %{count} أخطاء.",
   :other "ليس بالامكان حفظ %{model}: %{count} خطأ."}}}