{:abbr_day_names ["Нед" "Пон" "Вто" "Сре" "Чет" "Пет" "Саб"],
 :abbr_month_names
 [nil
  "Јан"
  "Фев"
  "Мар"
  "Апр"
  "Мај"
  "Јун"
  "Јул"
  "Авг"
  "Сеп"
  "Окт"
  "Ное"
  "Дек"],
 :day_names
 ["Недела" "Понеделник" "Вторник" "Среда" "Четврток" "Петок" "Сабота"],
 :formats {:default "%d/%m/%Y", :long "%B %e, %Y", :short "%e %b"},
 :month_names
 [nil
  "Јануари"
  "Февруари"
  "Март"
  "Април"
  "Мај"
  "Јуни"
  "Јули"
  "Август"
  "Септември"
  "Октомври"
  "Ноември"
  "Декември"],
 :order [":day" ":month" ":year"]}