{:format "%{attribute} %{message}",
 :messages
 {:taken "е зафатено",
  :too_long
  {:one "е предолг (не повеќе од %{count} карактер)",
   :other "е предолг (не повеќе од %{count} карактери)"},
  :equal_to "мора да биде еднакво на %{count}",
  :even "мора да биде парно",
  :greater_than "мора да биде поголемо од %{count}",
  :less_than_or_equal_to "мора да биде помало или еднакво на %{count}",
  :confirmation "не се совпаѓа со својата потврда",
  :accepted "мора да биде прифатен",
  :too_short
  {:one "е прекраток (не помалку од %{count} карактер)",
   :other "е прекраток (не помалку од %{count} карактери)"},
  :record_invalid "неуспешна валидација: %{errors}",
  :invalid "не е исправен",
  :wrong_length
  {:one "несоодветна должина (мора да имате %{count} карактер)",
   :other "несоодветна должина (мора да имате %{count} карактери)"},
  :not_an_integer "не е цел број",
  :empty "мора да биде зададен",
  :odd "мора да биде непарно",
  :blank "мора да биде зададен",
  :exclusion "не е достапно",
  :less_than "мора да биде помало од %{count}",
  :not_a_number "не е број ",
  :greater_than_or_equal_to
  "мора да биде поголемо или еднакво на %{count}",
  :inclusion "не е во листата"},
 :template
 {:body "Ве молиме проверете ги следните полиња:",
  :header
  {:one "Не успеав да го зачувам %{model}: %{count} грешка.",
   :other "Не успеав да го зачувам %{model}: %{count} грешки."}}}