{:format "%{attribute} %{message}",
 :messages
 {:taken "è già presente",
  :too_long
  {:one "è troppo lungo (il massimo è 1 carattere)",
   :other "è troppo lungo (il massimo è %{count} caratteri)"},
  :equal_to "deve essere uguale a %{count}",
  :even "deve essere pari",
  :greater_than "deve essere maggiore di %{count}",
  :present "deve essere lasciato in bianco",
  :less_than_or_equal_to "deve essere minore o uguale a %{count}",
  :confirmation "non coincide con %{attribute}",
  :accepted "deve essere accettata",
  :too_short
  {:one "è troppo corto (il minimo è 1 carattere)",
   :other "è troppo corto (il minimo è %{count} caratteri)"},
  :record_invalid "Validazione fallita: %{errors}",
  :invalid "non è valido",
  :wrong_length
  {:one "è della lunghezza sbagliata (deve essere di 1 carattere)",
   :other
   "è della lunghezza sbagliata (deve essere di %{count} caratteri)"},
  :not_an_integer "non è un numero intero",
  :empty "non può essere vuoto",
  :odd "deve essere dispari",
  :blank "non può essere lasciato in bianco",
  :exclusion "è riservato",
  :less_than "deve essere minore di %{count}",
  :other_than "devono essere di numero diverso da %{count}",
  :not_a_number "non è un numero",
  :greater_than_or_equal_to "deve essere maggiore o uguale a %{count}",
  :inclusion "non è compreso tra le opzioni disponibili",
  :restrict_dependent_destroy
  {:one
   "Il record non può essere cancellato perchè esiste un %{record} dipendente",
   :many
   "Il record non può essere cancellato perchè esistono %{record} dipendenti"}},
 :template
 {:body "Ricontrolla i seguenti campi:",
  :header
  {:one "Non posso salvare questo %{model}: 1 errore",
   :other "Non posso salvare questo %{model}: %{count} errori."}}}