{:format "%{attribute} %{message}",
 :messages
 {:taken "вже зайнятий",
  :too_long
  {:few "занадто довгий (максимум %{count} знаки)",
   :many "занадто довгий (максимум %{count} знаків)",
   :one "занадто довгий (максимум %{count} знак)",
   :other "занадто довгий (максимум %{count} знаку)"},
  :equal_to "має дорівнювати %{count}",
  :even "має бути парним",
  :greater_than "має бути більше ніж %{count}",
  :less_than_or_equal_to "має бути менше ніж або дорівнювати %{count}",
  :confirmation "не збігається з підтвердженням",
  :accepted "має бути прийнятий",
  :too_short
  {:few "занадто короткий (мінімум %{count} знаки)",
   :many "занадто короткий (мінімум %{count} знаків)",
   :one "занадто короткий (мінімум %{count} знак)",
   :other "занадто короткий (мінімум %{count} знаку)"},
  :record_invalid "Виникли помилки: %{errors}",
  :invalid "недійсний",
  :wrong_length
  {:few "неправильна довжина (має бути %{count} знаки)",
   :many "неправильна довжина (має бути %{count} знаків)",
   :one "неправильна довжина (має бути %{count} знак)",
   :other "неправильна довжина (має бути %{count} знаку)"},
  :not_an_integer "не э цілим числом",
  :empty "не може бути порожнім",
  :odd "має бути непарним",
  :blank "не може бути пустим",
  :exclusion "зарезервовано",
  :less_than "має бути менше ніж %{count}",
  :not_a_number "не число",
  :greater_than_or_equal_to
  "має бути більше ніж або дорівнювати %{count}",
  :inclusion "не включено до переліку"},
 :template
 {:body "Помилки виявлено в таких полях:",
  :header
  {:few "%{model} не збережено через %{count} помилки",
   :many "%{model} не збережено через %{count} помилок",
   :one "%{model} не збережено через %{count} помилку",
   :other "%{model} не збережено через %{count} помилки"}}}