{:abbr_day_names ["Κυρ" "Δευ" "Τρί" "Τετ" "Πέμ" "Παρ" "Σάβ"],
 :abbr_month_names
 [nil
  "Ιαν"
  "Φεβ"
  "Μαρ"
  "Απρ"
  "Μαϊ"
  "Ιουν"
  "Ιουλ"
  "Αυγ"
  "Σεπ"
  "Οκτ"
  "Νοε"
  "Δεκ"],
 :day_names
 ["Κυριακή"
  "Δευτέρα"
  "Τρίτη"
  "Τετάρτη"
  "Πέμπτη"
  "Παρασκευή"
  "Σάββατο"],
 :formats {:default "%d/%m/%Y", :long "%e %B %Y", :short "%d %b"},
 :month_names
 [nil
  "Ιανουάριος"
  "Φεβρουάριος"
  "Μάρτιος"
  "Απρίλιος"
  "Μάιος"
  "Ιούνιος"
  "Ιούλιος"
  "Αύγουστος"
  "Σεπτέμβριος"
  "Οκτώβριος"
  "Νοέμβριος"
  "Δεκέμβριος"],
 :order [":day" ":month" ":year"]}