{:format "%{attribute} %{message}",
 :messages
 {:taken "το έχουν ήδη χρησιμοποιήσει",
  :too_long
  {:one "είναι πολύ μεγάλο (το μέγιστο μήκος είναι 1 χαρακτήρας)",
   :other
   "είναι πολύ μεγάλο (το μέγιστο μήκος είναι %{count} χαρακτήρες)"},
  :equal_to "πρέπει να είναι ίσο με %{count}",
  :even "πρέπει να είναι άρτιος",
  :greater_than "πρέπει να είναι μεγαλύτερο από %{count}",
  :less_than_or_equal_to "πρέπει να είναι λιγότερο ή ίσο με %{count}",
  :confirmation "δεν ταιριάζει με την επικύρωση",
  :accepted "πρέπει να είναι αποδεκτό",
  :too_short
  {:one "είναι πολύ μικρό (το ελάχιστο μήκος είναι 1 χαρακτήρας)",
   :other
   "είναι πολύ μικρό (το ελάχιστο μήκος είναι %{count} χαρακτήρες)"},
  :record_invalid "Η επικύρωση απέτυχε: %{errors}",
  :invalid "είναι άκυρο",
  :wrong_length
  {:one "έχει λανθασμένο μήκος (πρέπει να είναι 1 χαρακτήρας)",
   :other
   "έχει λανθασμένο μήκος (πρέπει να είναι %{count} χαρακτήρες)"},
  :not_an_integer "πρέπει να είναι ακέραιος αριθμός",
  :empty "δεν πρέπει να είναι άδειο",
  :odd "πρέπει να είναι περιττός",
  :blank "δεν πρέπει να είναι κενό",
  :exclusion "είναι δεσμευμένο",
  :less_than "πρέπει να είναι λιγότερο από %{count}",
  :not_a_number "δεν είναι αριθμός",
  :greater_than_or_equal_to
  "πρέπει να είναι μεγαλύτερο ή ίσο με %{count}",
  :inclusion "δεν συμπεριλαμβάνεται στη λίστα"},
 :template
 {:body "Υπήρξαν προβλήματα με τα ακόλουθα πεδία:",
  :header
  {:one "1 λάθος εμπόδισε αυτό το %{model} να αποθηκευτεί.",
   :other "%{count} λάθη εμπόδισαν αυτό το %{model} να αποθηκευτεί."}}}