{:format "%{attribute} %{message}",
 :messages
 {:taken "аль хэдийн авчихсан байна",
  :too_long
  {:one "урт байна (хамгийн уртдаа 1 тэмдэгт)",
   :other "урт байна (хамгийн уртдаа %{count} тэмдэгт)"},
  :equal_to "%{count}-тэй тэнцүү байх ёстой",
  :even "тэгш байх ёстой",
  :greater_than "%{count}-с их байх ёстой",
  :less_than_or_equal_to
  "%{count}-с бага юмуу эсвэл тэнцүү байх ёстой",
  :confirmation "адилгүй байна",
  :accepted "хүлээн зөвшөөрөгдсөн байх ёстой",
  :too_short
  {:one "богино байна (хамгийн багадаа 1 тэмдэгт)",
   :other "богино байна (хамгийн багадаа %{count} тэмдэгт)"},
  :record_invalid "Шалгалт амжилтгүй: %{errors}",
  :invalid "буруу байна",
  :wrong_length
  {:one "урт нь буруу байна (1 тэмдэгт байх ёстой)",
   :other "урт нь буруу байна (%{count} тэмдэгт байх ёстой)"},
  :not_an_integer "бүхэл тоо байх ёстой",
  :empty "байхгүй байж болохгүй",
  :odd "сонгой байх ёстой",
  :blank "хоосон байж болохгүй",
  :exclusion "бол ашиглахад хориотой",
  :less_than "%{count}-с бага байх ёстой",
  :not_a_number "тоо биш байна",
  :greater_than_or_equal_to
  "%{count}-с их юмуу эсвэл тэнцүү байх ёстой",
  :inclusion "жагсаалтанд алга байна"},
 :template
 {:body "Дараах талбарууд дээр алдаа гарлаа:",
  :header
  {:one "1 алдаа гарсан тул %{model} хадгалагдахгүй байна",
   :other "%{count} алдаа гарсан тул %{model} хадгалагдахгүй байна"}}}