{:format "%{attribute} %{message}",
 :messages
 {:taken "è gia occupà",
  :too_long "è memia lung (betg dapli che %{count} caracters)",
  :equal_to "sto esser exact %{count}",
  :even "sto esser pèr",
  :greater_than "sto esser pli grond che %{count}",
  :less_than_or_equal_to "sto esser pli pitschen u medem sco %{count}",
  :confirmation "na correspunda betg al champ da conferma",
  :accepted "sto vegnir acceptà",
  :too_short "è memia curt (betg pli pauc che %{count} caracters)",
  :invalid "n'è betg valid",
  :wrong_length
  "ha la fallida lunghezza (sto avair %{count} caracters)",
  :empty "sto vegnir emplenì ora",
  :odd "sto esser spèr",
  :blank "sto vegnir emplenì ora",
  :exclusion "na stat betg a disposiziun",
  :less_than "sto esser pli pitschen che %{count}",
  :not_a_number "è betg in dumber",
  :greater_than_or_equal_to "sto esser pli grond u medem sco %{count}",
  :inclusion "n'è betg sin la glista"},
 :template
 {:body "Faschai uschè bain e controllai ils suandants champs:",
  :header
  {:zero
   "Betg pussaivel da memorisar quest %{model}: %{count} errurs.",
   :one "Betg pussaivel da memorisar quest %{model}: 1 errur.",
   :two "Betg pussaivel da memorisar quest %{model}: %{count} errurs.",
   :few "Betg pussaivel da memorisar quest %{model}: %{count} errurs.",
   :many
   "Betg pussaivel da memorisar quest %{model}: %{count} errurs.",
   :other
   "Betg pussaivel da memorisar quest %{model}: %{count} errurs."}}}