{:abbr_day_names
 ["Igan" "Astel" "Astear" "Asteaz" "Oste" "Osti" "Lar"],
 :abbr_month_names
 [nil
  "Urt"
  "Ots"
  "Mar"
  "Api"
  "Mai"
  "Eka"
  "Uzt"
  "Abu"
  "Ira"
  "Urr"
  "Aza"
  "Aben"],
 :day_names
 ["Igandea"
  "Astelehena"
  "Asteartea"
  "Asteazkena"
  "Osteguna"
  "Ostirala"
  "Larunbata"],
 :formats
 {:default "%Y/%m/%e", :long "%Y(e)ko %Bk %e", :short "%b %e"},
 :month_names
 [nil
  "Urtarrila"
  "Otsaila"
  "Martxoa"
  "Apirila"
  "Maiatza"
  "Ekaina"
  "Uztaila"
  "Abuztua"
  "Iraila"
  "Urria"
  "Azaroa"
  "Abendua"],
 :order [":year" ":month" ":day"]}