{:abbr_day_names ["Нед" "Пон" "Уто" "Сре" "Чет" "Пет" "Суб"],
 :abbr_month_names
 [nil
  "Јан"
  "Феб"
  "Мар"
  "Апр"
  "Мај"
  "Јун"
  "Јул"
  "Авг"
  "Сеп"
  "Окт"
  "Нов"
  "Дец"],
 :day_names
 ["Недеља" "Понедељак" "Уторак" "Среда" "Четвртак" "Петак" "Субота"],
 :formats {:default "%d/%m/%Y", :long "%B %e, %Y", :short "%e %b"},
 :month_names
 [nil
  "Јануар"
  "Фабруар"
  "Март"
  "Април"
  "Мај"
  "Јун"
  "Јул"
  "Август"
  "Септембар"
  "Октобар"
  "Новембар"
  "Децембар"],
 :order [":day" ":month" ":year"]}