{:format "%{attribute} %{message}",
 :messages
 {:taken "је већ заузет",
  :too_long
  {:one "је предугачак (максимум је %{count} знак)",
   :few "је предугачак (максимум је %{count} знака)",
   :many "је предугачак (максимум је %{count} знакова)",
   :other "је предугачак (максимум је %{count} знакова)"},
  :equal_to "мора бити једнак %{count}",
  :even "мора бити паран",
  :greater_than "мора бити већи од %{count}",
  :present "мора бити празан",
  :less_than_or_equal_to "мора бити мањи или једнак %{count}",
  :confirmation "се не слаже са потврдом",
  :accepted "мора бити прихваћено",
  :too_short
  {:one "је прекратак (минимум је %{count} знак)",
   :few "је прекратак (минимум је %{count} знака)",
   :many "је прекратак (минимум је %{count} знакова)",
   :other "је прекратак (минимум је %{count} знакова)"},
  :record_invalid "Валидација није успела: %{errors}",
  :invalid "није исправан",
  :wrong_length
  {:one "није одговарајуће дужине (треба бити %{count} знак)",
   :few "није одговарајуће дужине (треба бити %{count} знака)",
   :many "није одговарајуће дужине (треба бити %{count} знакова)",
   :other "није одговарајуће дужине (треба бити %{count} знакова)"},
  :not_an_integer "није цео број",
  :empty "не сме бити празан",
  :odd "мора бити непаран",
  :blank "не сме бити празан",
  :exclusion "је резервисан",
  :less_than "мора бити мањи од %{count}",
  :other_than "мора бити различит од %{count}",
  :not_a_number "није број",
  :greater_than_or_equal_to "мора бити већи или једнак %{count}",
  :inclusion "није у листи",
  :restrict_dependent_destroy
  {:one "Није могуће обрисати запис јер постоји зависан %{record}",
   :many "Није могуће обрисати запис јер постоје зависни %{record}"}},
 :template
 {:body "Молим Вас да проверите следећа поља:",
  :header
  {:one "Нисам успео сачувати %{model}: %{count} грешка.",
   :few "Нисам успео сачувати %{model}: %{count} грешке.",
   :many "Нисам успео сачувати %{model}: %{count} грешки.",
   :other "Нисам успео сачувати %{model}: %{count} грешки."}}}