{:abbr_day_names ["P" "E" "T" "K" "N" "R" "L"],
 :abbr_month_names
 [nil
  "jaan."
  "veebr."
  "märts"
  "apr."
  "mai"
  "juuni"
  "juuli"
  "aug."
  "sept."
  "okt."
  "nov."
  "dets."],
 :day_names
 ["pühapäev"
  "esmaspäev"
  "teisipäev"
  "kolmapäev"
  "neljapäev"
  "reede"
  "laupäev"],
 :formats {:default "%d.%m.%Y", :long "%d. %B %Y", :short "%d.%m.%y"},
 :month_names
 [nil
  "jaanuar"
  "veebruar"
  "märts"
  "aprill"
  "mai"
  "juuni"
  "juuli"
  "august"
  "september"
  "oktoober"
  "november"
  "detsember"],
 :order [":day" ":month" ":year"]}