{:abbr_day_names ["dim" "lun" "mar" "mer" "ĵaŭ" "ven" "sam"],
 :abbr_month_names
 [nil
  "jan."
  "feb."
  "mar."
  "apr."
  "majo"
  "jun."
  "jul."
  "aŭg."
  "sep."
  "okt."
  "nov."
  "dec."],
 :day_names
 ["dimanĉo" "lundo" "mardo" "merkredo" "ĵaŭdo" "vendredo" "sabato"],
 :formats {:default "%Y/%m/%d", :long "%e %B %Y", :short "%e %b"},
 :month_names
 [nil
  "januaro"
  "februaro"
  "marto"
  "aprilo"
  "majo"
  "junio"
  "julio"
  "aŭgusto"
  "septembro"
  "oktobro"
  "novembro"
  "decembro"],
 :order [":day" ":month" ":year"]}