{:format "%{attribute} %{message}",
 :messages
 {:taken "यापूर्वीच घेतले गेले आहे",
  :too_long
  {:one "खूप लांब आहे (जास्तीत जास्त एक वर्ण परवानगी आहे)",
   :other "खूप लांब आहे (जास्तीत जास्त %{count} वर्ण परवानगी आहे)"},
  :equal_to "%{count} समान असणे आवश्यक",
  :even "समांक असणे आवश्यक आहे",
  :greater_than "%{count} पेक्षा जास्त असणे आवश्यक आहे",
  :present "रिक्त असणे आवश्यक आहे",
  :less_than_or_equal_to
  "%{count} पेक्षा कमी किंवा समान असणे आवश्यक आहे",
  :confirmation "%{attribute} जुळत नाही",
  :accepted "मान्य केले पाहिजे",
  :too_short
  {:one "खूप लहान आहे (किमान एक वर्ण परवानगी आहे)",
   :other "खूप लहान आहे (किमान %{count} वर्ण परवानगी आहे)"},
  :record_invalid "प्रमाणीकरण अयशस्वी: %{errors}",
  :invalid "अवैध आहे",
  :wrong_length
  {:one "लांबी चुक आहे (एक वर्ण असणे आवश्यक आहे)",
   :other "लांबी चुक आहे (%{count} वर्ण असणे आवश्यक आहे)"},
  :not_an_integer "पूर्णांक असणे आवश्यक आहे",
  :empty "रिक्त असू शकत नाही",
  :odd "विषम संख्या असणे आवश्यक आहे",
  :blank "रिक्त ठेवता येणार नाही",
  :exclusion "राखीव आहे",
  :less_than "%{count} पेक्षा कमी असणे आवश्यक",
  :other_than "%{count} पेक्षा इतर असणे आवश्यक आहे",
  :not_a_number "क्रमांक नाही",
  :greater_than_or_equal_to
  "%{count} पेक्षा मोठे किंवा समान असणे आवश्यक आहे",
  :inclusion "यादीत समाविष्ट नाही",
  :restrict_dependent_destroy
  {:one "अवलंबून %{record} अस्तित्वात असल्याने रेकॉर्ड हटवू शकत नाही",
   :many
   "अवलंबून %{record} अस्तित्वात असल्याने रेकॉर्ड हटवू शकत नाही"}},
 :template
 {:body "खालील फील्ड सह समस्या होते:",
  :header
  {:one "एक चूक ह्या %{model} ला जतन करण्यापासून प्रतिबंधित करत आहे",
   :other
   "%{count} चुका ह्या %{model} ला जतन करण्यापासून प्रतिबंधित करत आहे"}}}