{:format "%{attribute} %{message}",
 :messages
 {:taken "används redan",
  :too_long "är för lång (maximum är %{count} tecken)",
  :equal_to "måste vara samma som",
  :even "måste vara jämnt",
  :greater_than "måste vara större än %{count}",
  :present "får inte anges",
  :less_than_or_equal_to
  "måste vara mindre än eller lika med %{count}",
  :confirmation "stämmer inte överens",
  :accepted "måste vara accepterad",
  :too_short "är för kort (minimum är %{count} tecken)",
  :record_invalid "Ett fel uppstod: %{errors}",
  :invalid "har fel format",
  :wrong_length "har fel längd (ska vara %{count} tecken)",
  :not_an_integer "måste vara ett heltal",
  :empty "får ej vara tom",
  :odd "måste vara udda",
  :blank "måste anges",
  :exclusion "är reserverat",
  :less_than "måste vara mindre än %{count}",
  :other_than "måste vara annat än %{count}",
  :not_a_number "är inte ett nummer",
  :greater_than_or_equal_to
  "måste vara större än eller lika med %{count}",
  :inclusion "finns inte i listan",
  :restrict_dependent_destroy
  {:one "Kan inte ta bort post då beroende %{record} finns",
   :many "Kan inte ta bort poster då beroende %{record} finns"}},
 :template
 {:body "Det var problem med följande fält:",
  :header
  {:one "Ett fel förhindrade denna %{model} från att sparas",
   :other "%{count} fel förhindrade denna %{model} från att sparas"}}}