{:format "%{attribute} %{message}",
 :messages
 {:taken "je već zauzet",
  :too_long
  {:one "je predugačak (maksimum je %{count} znak)",
   :few "je predugačak (maksimum je %{count} znaka)",
   :many "je predugačak (maksimum je %{count} znakova)",
   :other "je predugačak (maksimum je %{count} znakova)"},
  :equal_to "mora biti jednak %{count}",
  :even "mora biti paran",
  :greater_than "mora biti veći od %{count}",
  :present "mora biti prazan",
  :less_than_or_equal_to "mora biti manji ili jednak %{count}",
  :confirmation "se ne slaže sa potvrdom",
  :accepted "mora biti prihvaćen",
  :too_short
  {:one "je prekratak (minimum je %{count} znak)",
   :few "je prekratak (minimum je %{count} znaka)",
   :many "je prekratak (minimum je %{count} znakova)",
   :other "je prekratak (minimum je %{count} znakova)"},
  :record_invalid "Validacija nije uspela: %{errors}",
  :invalid "nije ispravan",
  :wrong_length
  {:one "nije odgovarajuće dužine (treba biti %{count} znak)",
   :few "nije odgovarajuće dužine (treba biti %{count} znaka)",
   :many "nije odgovarajuće dužine (treba biti %{count} znakova)",
   :other "nije odgovarajuće dužine (treba biti %{count} znakova)"},
  :not_an_integer "nije ceo broj",
  :empty "ne sme biti prazan",
  :odd "mora biti neparan",
  :blank "ne sme biti prazan",
  :exclusion "je rezervisan",
  :less_than "mora biti manji od %{count}",
  :other_than "mora biti različit od %{count}",
  :not_a_number "nije broj",
  :greater_than_or_equal_to "mora biti veći ili jednak %{count}",
  :inclusion "nije u listi",
  :restrict_dependent_destroy
  {:one "Nije moguće obrisati zapis jer postoji zavisan %{record}",
   :many "Nije moguće obrisati zapis jer postoje zavisni %{record}"}},
 :template
 {:body "Molim Vas da proverite sledeća polja:",
  :header
  {:one "Nisam uspeo sačuvati %{model}: %{count} greška.",
   :few "Nisam uspeo sačuvati %{model}: %{count} greške.",
   :many "Nisam uspeo sačuvati %{model}: %{count} greški.",
   :other "Nisam uspeo sačuvati %{model}: %{count} greški."}}}