{:abbr_day_names ["" "" "" "" "" "" ""],
 :abbr_month_names [nil "" "" "" "" "" "" "" "" "" "" "" ""],
 :day_names ["ອາທິດ" "ຈັນ" "ອັງຄານ" "ພຸດ" "ພະຫັດ" "ສຸກ" "ເສົາ"],
 :formats {:default "%d-%m-%Y", :long "%e %B %Y", :short "%e %b"},
 :month_names
 [nil
  "ມັງກອນ"
  "ກຸມພາ"
  "ມີນາ"
  "ເມສາ"
  "ພຶດສະພາ"
  "ມິຖຸນາ"
  "ກໍລະກົດ"
  "ສິງຫາ"
  "ກັນຍາ"
  "ຕຸລາ"
  "ພະຈິກ"
  "ທັນວາ"],
 :order [":day" ":month" ":year"]}