{:format "%{attribute} %{message}",
 :messages
 {:taken "ຮັບເອົາໄປແລ້ວ",
  :too_long "ຍາວໂພດ (ສູງສຸດຄື %{count} ຕົວອັກສອນ)",
  :equal_to "ຕ້ອງເທົ່າກັບ %{count}",
  :even "ຕ້ອງເປັນເລກຄູ່",
  :greater_than "ຕ້ອງສູງກວ່າ %{count}",
  :less_than_or_equal_to "ຕ້ອງຕຳ່ກວ່າ ຫຼື ເທົ່າກັບ %{count}",
  :confirmation "ບໍ່ຖືກກັບການຢືນຢັນ",
  :accepted "ຕ້ອງຍອມຮັບ",
  :too_short "ສັ້ນໂພດ (ຕຳ່ສຸດຄື %{count} ຕົວອັກສອນ)",
  :record_invalid "ການຢືນຢັນບໍ່ສຳເລັດ : %{errors}",
  :invalid "ບໍ່ຖືກ",
  :wrong_length "ຄວາມຍາວຜິດ (ຄວນຈະເປັນ %{count} ຕົວອັກສອນ)",
  :empty "ວ່າງໄວ້ບໍ່ໄດ້",
  :odd "ຕ້ອງເປັນເລກຄີກ",
  :blank "ເປົ່າບໍ່ໄດ້",
  :exclusion "ມີການຈອງໄວ້ແລ້ວ",
  :less_than "ຕ້ອງຕຳ່ກວ່າ %{count}",
  :not_a_number "ບໍ່ແມ່ນຕົວເລກ",
  :greater_than_or_equal_to "ຕ້ອງສູງກວ່າ ຫຼື ເທົ່າກັບ %{count}",
  :inclusion "ບໍ່ໄດ້ຮວມຢູ່ໃນບັນຊີລາຍການ"},
 :template
 {:body "ກະລຸນາກວດສອບຂໍ້ມູນໃນຫ້ອງຕໍ່ໄປນີ້ :",
  :header
  {:zero
   "ບໍ່ສາມາດບັນທຶກ %{model} ໄດ້ເນື່ອງຈາກ ເກີດ %{count} ຂໍ້ຜິດພາດ",
   :one "ບໍ່ສາມາດບັນທຶກ %{model} ໄດ້ເນື່ອງຈາກເກີດຂໍ້ຜິດພາດ",
   :two "ບໍ່ສາມາດບັນທຶກ %{model} ໄດ້ເນື່ອງຈາກ ເກີດ %{count} ຂໍ້ຜິດພາດ",
   :few "ບໍ່ສາມາດບັນທຶກ %{model} ໄດ້ເນື່ອງຈາກ ເກີດ %{count} ຂໍ້ຜິດພາດ",
   :many
   "ບໍ່ສາມາດບັນທຶກ %{model} ໄດ້ເນື່ອງຈາກ ເກີດ %{count} ຂໍ້ຜິດພາດ",
   :other
   "ບໍ່ສາມາດບັນທຶກ %{model} ໄດ້ເນື່ອງຈາກ ເກີດ %{count} ຂໍ້ຜິດພາດ"}}}